@import url('https://fonts.googleapis.com/css?family=Merienda|Overlock+SC|Laila:400,600|PT+Sans:700i&display=swap');

*:focus {
  outline: none;
}

body {
  color: #775126;
  font-family: 'Laila', sans-serif;
  background-image: url(/images/wood-texture-by-elena-skripka.jpg);
  background-size: 50vw;
  margin: 0;
}

a {
  text-decoration: none;
  color: #c79450;
}

p {
  font-size: 1.1vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Overlock SC', sans-serif;
  text-align: center;
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
}

h1 {
  font-size: 2.2vw;
}

h2 {
  font-size: 1.6vw;
}

h3 {
  font-size: 1.3vw;
}

h4 {
  font-size: 1vw;
}

hr {
  border-top: 1px solid #e2bc8d;
  border-bottom: 1px solid #ffd79e;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.06);
}

button {
  font-family: 'Overlock SC', sans-serif;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    #f3c5bd 0%,
    #c54f4f 50%,
    #a00000 50%,
    #ff3232 100%
  );
  color: #ffffff;
  border: 1px solid #ab5555;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #ffffff, 0 0 2px rgba(152, 50, 50, 0.5);
  text-shadow: 0 0 3px #670a0a;
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(
    to bottom,
    #f3c5bd 0%,
    #da5656 50%,
    #b90000 50%,
    #ff3232 100%
  );
  box-shadow: inset 0 0 10px #ffffff, 0 0 2px rgba(152, 50, 50, 0.5);
}

button:active {
  background: linear-gradient(
    to bottom,
    #f3c5bd 0%,
    #ad4545 50%,
    #710000 50%,
    #d82929 100%
  );
  box-shadow: inset 0 0 5px #ffffff, 0 0 2px rgba(152, 50, 50, 0.5);
}

button i {
  pointer-events: none;
}

label {
  display: block;
}

nav {
  background-color: #6d0019;
  width: 85%;
  background: linear-gradient(#a90329, #6d0019);
  border-top: 3px solid #7b0101;
  border-bottom: 3px solid #480303;
  box-shadow: 0 5px 0 0 #6d0019, 0 -5px 0 0 #a90329,
    0 5px 10px rgba(0, 0, 0, 0.75);
}

nav::before {
  content: '';
  display: block;
  width: calc(85% - 200px);
  height: 200px;
  position: absolute;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #5f061a;
  margin-top: 5.3%;
  z-index: -1;
}

nav a {
  font-family: 'Overlock SC', sans-serif;
  color: #ffffff;
  font-size: 1.5vw;
  display: inline-block;
  margin: 1em;
  transition: text-shadow 0.4s ease;
}

nav a:hover {
  text-shadow: 0 0 5px #ffffff;
}

nav > div {
  padding: 0 1%;
}

nav #cart-nav {
  position: relative;
}

nav #cart-qty {
  position: absolute;
  top: -25%;
  background-color: #d79500;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  font-size: 0.7vw;
  text-align: center;
  margin: 0;
  padding: 0.1vw;
  left: 75%;
  font-weight: 700;
  font-family: 'Laila', sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}

form button {
  margin: 0 5%;
  font-size: 1.4vw;
  padding: 2% 1%;
}

form div {
  margin: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

form input,
select {
  color: rgba(60, 60, 60, 0.6);
  font-family: 'Laila', sans-serif;
  font-size: 1.2vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 2px;
  border: 0;
  padding: 1% 1% 1% 6%;
  margin: 0 5%;
  box-shadow: inset 0 1px 3px rgba(88, 33, 0, 0.2),
    0 0 2px 1px rgba(88, 33, 0, 0.2);
  transition: background-color 0.3s ease;
}

form input:focus {
  color: #3c3c3c;
  background-color: #ffffff;
}

form input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
}

form input:focus::placeholder {
  color: transparent;
}

form label {
  font-family: 'Overlock SC', sans-serif;
  margin: 0 5%;
  position: absolute;
  top: -75%;
  font-weight: 600;
  font-size: 1.3vw;
}

.error-warning {
  color: #ad3c3c;
  font-size: 1vw;
  text-align: center;
  margin: 0;
  height: 1vw;
  opacity: 0;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease;
}

.error-warning.active {
  opacity: 1;
}

.error-warning i {
  margin-right: 1%;
}

.content-body {
  background: url(/images/scroll-paper.png) center/80% 100% no-repeat;
  min-height: auto;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.content-body > div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

.products-list {
  min-height: 100%;
  width: 80%;
  margin: 2% auto 5% auto;
}

.cart {
  width: 30vw;
  margin: 1% 0;
}

.cart h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
}

.cart h2 button i {
  pointer-events: none;
}

.cart #cart-total,
#cart-price {
  display: flex;
  align-items: center;
  font-size: 1.5vw;
}

.cart #cart-total p {
  margin-top: 0;
  margin-bottom: 0;
}

.cart #cart-price {
  font-family: 'Merienda', sans-serif;
  font-size: 1.3vw;
  margin-left: 5%;
}

.cart h2 a button {
  font-size: 1.4vw;
}

.cart h2 a button:disabled,
.bottom-labels button:disabled,
form button:disabled {
  filter: saturate(0);
  opacity: 0.7;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 5%;
}

.cart-item a {
  color: #775126;
}

.cart-item img {
  filter: drop-shadow(0 10px 15px #84572d);
  width: 40%;
  height: 40%;
}

.cart-item h3 {
  box-shadow: none;
  text-align: left;
  margin: 3% 0 0 0;
  font-size: 1.5vw;
}

.cart-item p {
  font-size: 1.1vw;
}

.cart-item-text {
  width: 40%;
}

.cart-item-text hr {
  margin: -1% 0;
}

.cart-item-text button {
  font-size: 1vw;
  margin: 5% 0;
  float: right;
}

.cart-item-details {
  display: flex;
}

.cart-item-details .labels {
  font-weight: 700;
}

.cart-item-details .values {
  margin-left: 7%;
}

.cart-item-details .values select {
  font-size: 1vw;
  margin: 0;
}

#no-items {
  box-shadow: none;
  opacity: 0.3;
  justify-content: center;
  margin: 15%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.coin {
  background: url(/images/coin.png) center no-repeat;
  background-size: cover;
  width: 1.5vw;
  height: 1.5vw;
}

.coin.left {
  float: left;
  margin-right: 0.3vw;
}

.coin.right {
  float: right;
  margin-left: 0.3vw;
}

.price-label {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}

.stock-label {
  font-size: 1.2vw;
  opacity: 0.3;
  margin: 2%;
}

.bottom-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 7px;
  padding: 3%;
}

.bottom-labels button {
  width: 2.5vw;
  height: 2vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: hue-rotate(85deg) saturate(2);
}

.bottom-labels button:hover {
  transform: scale(1.05);
}

.bottom-labels button:active {
  color: white;
  transform: scale(0.95);
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.item-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 5%;
  padding: 0 3% 3% 3%;
  width: 60vw;
}

.item-detail img {
  margin: -25% 0 -20% 0;
  width: 100%;
  height: auto;
  filter: drop-shadow(0 45px 45px #84572d);
  transform: scale(0.7);
}

.item-detail-box {
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 10px;
  padding: 3%;
  display: flex;
}

.item-detail-box > div {
  width: 50%;
}

.item-detail-box > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-detail-box .description {
  display: flex;
}

.item-detail-box .labels {
  font-weight: 600;
}

.item-detail-box p {
  font-size: 1.2vw;
}

.item-detail-box .values {
  font-family: 'Merienda', sans-serif;
  margin-left: 3%;
}

.item-detail-box .values p {
  display: flex;
  align-items: center;
  font-size: 1.23vw;
}

.item-detail-box select,
.item-detail-box button {
  margin: 0;
}

.listed-product {
  font-family: 'Merienda', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #ffce8b00;
  padding: 1.3%;
  width: 17vw;
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 10px;
  margin: 1vw;
}

.listed-product h2 {
  font-size: 1.2vw;
  margin: 0;
}

.listed-product a {
  color: #775126;
}

.listed-product img {
  width: 17vw;
  height: auto;
  margin: -1vw 0 -2.5vw 0;
  filter: drop-shadow(0 15px 15px #84572d);
  transition: all 0.3s ease;
}

.listed-product img:hover {
  animation: wiggle 0.3s ease-out;
  transform: scale(1.1);
}

#logo {
  width: 50vw;
  height: auto;
  margin: -2% 0 -6% 0;
  position: relative;
  filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.5));
}

#auth-form {
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 5px;
  padding: 0 3% 3% 3%;
  margin: 3%;
  width: 40vw;
  text-align: center;
}

#auth-form .google-auth {
  margin: 2% 5%;
  font-size: 1.2vw;
  padding: 1.6% 1%;
  width: 84%;
  filter: hue-rotate(190deg);
}

#auth-form i.input-icon {
  opacity: 0.3;
  position: absolute;
  left: 6.5%;
  font-size: 1.1vw;
}

#auth-form hr {
  margin: 2% 5%;
}

#home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

#home-content .wrap {
  width: 80%;
}

#home-banner {
  width: 80%;
  border-radius: 5px;
  margin: 3%;
  box-shadow: 0 0 10px 0px rgba(88, 33, 0, 0.5);
}

.status {
  width: 50vw;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.status img {
  width: 25vw;
  height: auto;
}

.status-text {
  font-family: 'PT Sans', sans-serif;
}

.status-text p:first-child {
  font-size: 13vw;
  margin: 0;
}

.status-text p:nth-child(2) {
  font-size: 4vw;
  margin: -20% 0 0 0;
}

.checkout {
  width: 60vw;
}

.checkout-box h3 {
  width: 90%;
}

.checkout-box {
  width: 50%;
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 1%;
}

.checkout-box button {
  position: absolute;
  bottom: 10%;
  font-size: 1.5vw;
  padding: 2% 3%;
}

#account-container {
  width: 60%;
  margin: 1% 0;
}

#account-container > h1 + div {
  display: flex;
  justify-content: center;
}

#account-container > h1 + div .account-detail {
  width: 45%;
}

.account-detail {
  box-shadow: inset 0 0 50px 5px rgba(88, 33, 0, 0.2),
    0 0 10px 0px rgba(88, 33, 0, 0.2);
  border-radius: 10px;
  padding: 1vw;

  margin: 1vw;
}

.account-detail h3 {
  margin: 0;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg) scale(1.025);
  }
  50% {
    transform: rotate(-5deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
